.footer{
    width: 100%;
    height: 300px;
    background:linear-gradient(45deg,rgba(168, 93, 50, 0.405),rgba(255, 217, 0,0.700)); ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    z-index: 1000;
    font-size: 30px;
}

@media screen and (max-width:350px){
    .footer p{
        font-size: 20px;
    }
}