*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:shabnam;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: shabnam;
  src: url(../public/font/Shabnam.ttf);
}
